---
import Layout from '../layouts/Layout.astro'
---

<Layout title='John Langs'>
	<main>
		<div class="splash"></div>
	</main>
</Layout>

<style>
.splash {
min-height: 100vh;
background-color: #000000;

background-image: url('classroom.jpg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
}
</style>
