---
---

<footer>
	<div class="footer-section">
		John Langs <br> :wq
	</div>
	<div class="footer-section">
	</div>
	<div class="footer-section">
	</div>
</footer>


<style>
footer {
color: #FFFFFF;
background-color: #000000;

min-height: 15vh;
margin: 0px;
padding: 0px;

display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 30px;
}

.footer-section {
flex: 1;
text-align: left;
padding: 0px;
}
</style>
