---

---

<header>
	<div class="header-section name"><a href="/">John Langs</a></div>
	<div class="header-section">
		<a href="/portfolio">Portfolio</a>
		<a href="">About</a>
		<a href="">CV</a>
	</div>
	<div class="header-section socials">
	<a href="https://github.com/johnlangs">GitHub</a>	
	<a href="">LinkedIn</a>	
	</div>
</header>

<style>
header {
color: #FFFFFF;
background-color: #000000;

margin: 0px;
padding: 0px;

display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}

.header-section {
flex: 1;
text-align: center;
padding: 10px;
}

.name {
font-weight: bold;
font-size: 1.25rem;
}

.name a {
text-decoration: none;
}

.name a:hover {
text-decoration: underline;
}

.header-section a {
color: #FFFFFF;

margin-right: 10px;
}

.socials a {
text-decoration: none;
font-size: 0.85rem;
}

.socials a:hover {
text-decoration: underline;
}

.icon {
width: 1em;
height: 1em;
vertical-align: middle;
fill: currentColor;
filter: invert(0);
}
</style>
